<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>torso</string>
	<key>poses</key>
	<dict/>
	<key>root</key>
	<dict>
		<key>children</key>
		<array>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{-109, -114}</string>
										<key>name</key>
										<string>UntitledNode_3</string>
										<key>uuid</key>
										<string>41FB94C8-515B-467A-AE38-8F7E0B8FA2CB</string>
									</dict>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{-73, -119}</string>
										<key>name</key>
										<string>UntitledNode_4</string>
										<key>uuid</key>
										<string>29798711-322B-46CE-B435-7AAF08194CD5</string>
									</dict>
								</array>
								<key>localPos</key>
								<string>{-91, -86}</string>
								<key>name</key>
								<string>UntitledNode_2</string>
								<key>uuid</key>
								<string>A5805CFA-F7E9-47AB-A62D-B3D957B382BE</string>
							</dict>
						</array>
						<key>localPos</key>
						<string>{-94, -33}</string>
						<key>name</key>
						<string>UntitledNode_1</string>
						<key>uuid</key>
						<string>45B3353A-77FA-4381-9AF9-60B9B9662179</string>
					</dict>
				</array>
				<key>localPos</key>
				<string>{-79, 31}</string>
				<key>name</key>
				<string>UntitledNode</string>
				<key>rigid</key>
				<true/>
				<key>uuid</key>
				<string>67D74E62-EC74-459F-B3D5-FF1D7090972B</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{73, -118}</string>
										<key>name</key>
										<string>UntitledNode_8</string>
										<key>uuid</key>
										<string>6AF59B7B-B37B-47D4-8EE9-C1C8608D584F</string>
									</dict>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{108, -114}</string>
										<key>name</key>
										<string>UntitledNode_9</string>
										<key>uuid</key>
										<string>BE643DAC-D36F-473D-BA7C-7BA62E49C610</string>
									</dict>
								</array>
								<key>localPos</key>
								<string>{91, -86}</string>
								<key>name</key>
								<string>UntitledNode_7</string>
								<key>uuid</key>
								<string>DF202F2E-0505-4E1B-A54B-58DD70596396</string>
							</dict>
						</array>
						<key>localPos</key>
						<string>{91, -32}</string>
						<key>name</key>
						<string>UntitledNode_6</string>
						<key>uuid</key>
						<string>6D322A9E-159A-43F7-9F5F-373D2B4BF6A9</string>
					</dict>
				</array>
				<key>localPos</key>
				<string>{77, 32}</string>
				<key>name</key>
				<string>UntitledNode_5</string>
				<key>rigid</key>
				<true/>
				<key>uuid</key>
				<string>89E0B8D2-9EC1-45AD-8632-43F706652333</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array/>
						<key>localPos</key>
						<string>{17, 94}</string>
						<key>name</key>
						<string>UntitledNode_11</string>
						<key>uuid</key>
						<string>149539F7-80E2-4FC1-B1F1-F49B0056A1AA</string>
					</dict>
				</array>
				<key>localPos</key>
				<string>{0, 77}</string>
				<key>name</key>
				<string>UntitledNode_10</string>
				<key>uuid</key>
				<string>A2ECE823-0B8E-458F-9840-3725E1255913</string>
			</dict>
			<dict>
				<key>children</key>
				<array>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{-43, -192}</string>
										<key>name</key>
										<string>UntitledNode_16</string>
										<key>uuid</key>
										<string>B4CBFEC5-8F64-4686-A9D3-765B09173575</string>
									</dict>
								</array>
								<key>localPos</key>
								<string>{-38, -142}</string>
								<key>name</key>
								<string>UntitledNode_15</string>
								<key>uuid</key>
								<string>E9E76335-CEDD-48EE-8D38-BE46A57A6DF0</string>
							</dict>
						</array>
						<key>localPos</key>
						<string>{-24, -95}</string>
						<key>name</key>
						<string>UntitledNode_13</string>
						<key>rigid</key>
						<true/>
						<key>uuid</key>
						<string>0D3F18FC-9537-4F89-8BBC-B6300904D03E</string>
					</dict>
					<dict>
						<key>children</key>
						<array>
							<dict>
								<key>children</key>
								<array>
									<dict>
										<key>children</key>
										<array/>
										<key>localPos</key>
										<string>{35, -188}</string>
										<key>name</key>
										<string>UntitledNode_18</string>
										<key>uuid</key>
										<string>9D817C6A-5F89-4EA0-882E-CA2C01C98807</string>
									</dict>
								</array>
								<key>localPos</key>
								<string>{31, -139}</string>
								<key>name</key>
								<string>UntitledNode_17</string>
								<key>uuid</key>
								<string>BF4B3164-9D40-4CBE-886B-56534867C296</string>
							</dict>
						</array>
						<key>localPos</key>
						<string>{10, -94}</string>
						<key>name</key>
						<string>UntitledNode_14</string>
						<key>rigid</key>
						<true/>
						<key>uuid</key>
						<string>C5EFBFB9-D2B0-42C2-810D-B92BD646388E</string>
					</dict>
				</array>
				<key>localPos</key>
				<string>{-6, -84}</string>
				<key>name</key>
				<string>UntitledNode_12</string>
				<key>rigid</key>
				<true/>
				<key>uuid</key>
				<string>8618B45C-B8EB-49E3-AF9F-1F273CC5C627</string>
			</dict>
			<dict>
				<key>children</key>
				<array/>
				<key>localPos</key>
				<string>{1, 15}</string>
				<key>name</key>
				<string>UntitledNode_19</string>
				<key>uuid</key>
				<string>80E84456-10F6-4DD9-AFB0-0FB0CA154E96</string>
			</dict>
		</array>
		<key>name</key>
		<string>RootBone</string>
		<key>rigid</key>
		<true/>
		<key>root</key>
		<true/>
		<key>uuid</key>
		<string>8DB70C31-CB99-4061-B1DC-5737DA6C032A</string>
	</dict>
	<key>sheet</key>
	<string>robot_torsos.png</string>
	<key>sheetAtlas</key>
	<string>robot_torsos.plist</string>
	<key>size</key>
	<string>{231.39776611328125, 327.58966064453125}</string>
	<key>sprites</key>
	<array>
		<dict>
			<key>angle</key>
			<real>-0.73809814453125</real>
			<key>boneUUID</key>
			<string>A2ECE823-0B8E-458F-9840-3725E1255913</string>
			<key>localPos</key>
			<string>{1, 80}</string>
			<key>skinName</key>
			<string>he.png</string>
			<key>skinUUID</key>
			<string>DFF14364-C221-45BB-99B9-D703CC190A2F</string>
			<key>sprName</key>
			<string>he.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>8.1385421752929688</real>
			<key>boneUUID</key>
			<string>149539F7-80E2-4FC1-B1F1-F49B0056A1AA</string>
			<key>localPos</key>
			<string>{20, 109}</string>
			<key>skinName</key>
			<string>an.png</string>
			<key>skinUUID</key>
			<string>F5B82164-5232-4C69-AFF3-6AD641A89DE8</string>
			<key>sprName</key>
			<string>an.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.0</real>
			<key>boneUUID</key>
			<string>80E84456-10F6-4DD9-AFB0-0FB0CA154E96</string>
			<key>localPos</key>
			<string>{-1, -10}</string>
			<key>skinName</key>
			<string>body.png</string>
			<key>skinUUID</key>
			<string>B2B8E2F7-50EA-46BC-A52E-C691E9F14A82</string>
			<key>sprName</key>
			<string>body.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.233795166015625</real>
			<key>boneUUID</key>
			<string>45B3353A-77FA-4381-9AF9-60B9B9662179</string>
			<key>localPos</key>
			<string>{-86, 1}</string>
			<key>skinName</key>
			<string>left_up_hand.png</string>
			<key>skinUUID</key>
			<string>690294D5-0EAA-49EA-8F79-45922DC975CE</string>
			<key>sprName</key>
			<string>left_up_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>-0.436767578125</real>
			<key>boneUUID</key>
			<string>A5805CFA-F7E9-47AB-A62D-B3D957B382BE</string>
			<key>localPos</key>
			<string>{-94, -56}</string>
			<key>skinName</key>
			<string>left_down_hand.png</string>
			<key>skinUUID</key>
			<string>21310465-7CA9-4D89-BD60-237BBDDDC2EF</string>
			<key>sprName</key>
			<string>left_down_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.5548858642578125</real>
			<key>boneUUID</key>
			<string>41FB94C8-515B-467A-AE38-8F7E0B8FA2CB</string>
			<key>localPos</key>
			<string>{-101, -97}</string>
			<key>skinName</key>
			<string>left_hand.png</string>
			<key>skinUUID</key>
			<string>623EB805-4351-44E6-BAA9-A4CD3E6700C8</string>
			<key>sprName</key>
			<string>left_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.0924530029296875</real>
			<key>boneUUID</key>
			<string>29798711-322B-46CE-B435-7AAF08194CD5</string>
			<key>localPos</key>
			<string>{-81, -99}</string>
			<key>skinName</key>
			<string>righ_hand.png</string>
			<key>skinUUID</key>
			<string>342231FF-7ED8-4112-B38D-1C19A90255FC</string>
			<key>sprName</key>
			<string>righ_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.0413818359375</real>
			<key>boneUUID</key>
			<string>6D322A9E-159A-43F7-9F5F-373D2B4BF6A9</string>
			<key>localPos</key>
			<string>{82, 2}</string>
			<key>skinName</key>
			<string>right_up_hand.png</string>
			<key>skinUUID</key>
			<string>1C334D17-D1DA-4075-8F3E-2DA44BD0CB3D</string>
			<key>sprName</key>
			<string>right_up_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>-3.2564849853515625</real>
			<key>boneUUID</key>
			<string>DF202F2E-0505-4E1B-A54B-58DD70596396</string>
			<key>localPos</key>
			<string>{92, -55}</string>
			<key>skinName</key>
			<string>right_down_hand.png</string>
			<key>skinUUID</key>
			<string>64478ABD-F865-4D9C-9113-E506C8092036</string>
			<key>sprName</key>
			<string>right_down_hand.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>1.6766204833984375</real>
			<key>boneUUID</key>
			<string>BE643DAC-D36F-473D-BA7C-7BA62E49C610</string>
			<key>localPos</key>
			<string>{100, -97}</string>
			<key>skinName</key>
			<string>right_hand1.png</string>
			<key>skinUUID</key>
			<string>47CBEAC2-875A-4C24-B7F4-71970944ACE5</string>
			<key>sprName</key>
			<string>right_hand1.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.576873779296875</real>
			<key>boneUUID</key>
			<string>6AF59B7B-B37B-47D4-8EE9-C1C8608D584F</string>
			<key>localPos</key>
			<string>{80, -99}</string>
			<key>skinName</key>
			<string>left_hand1.png</string>
			<key>skinUUID</key>
			<string>ED5174B4-7FD8-4588-B91A-5CAA6438FB97</string>
			<key>sprName</key>
			<string>left_hand1.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>-2.21905517578125</real>
			<key>boneUUID</key>
			<string>B4CBFEC5-8F64-4686-A9D3-765B09173575</string>
			<key>localPos</key>
			<string>{-43, -165}</string>
			<key>skinName</key>
			<string>left_down_leg.png</string>
			<key>skinUUID</key>
			<string>3DCD6885-30DB-4C29-87CD-D1B809B5068B</string>
			<key>sprName</key>
			<string>left_down_leg.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.2891845703125</real>
			<key>boneUUID</key>
			<string>9D817C6A-5F89-4EA0-882E-CA2C01C98807</string>
			<key>localPos</key>
			<string>{35, -162}</string>
			<key>skinName</key>
			<string>right_down_leg.png</string>
			<key>skinUUID</key>
			<string>21345867-32A4-47E7-85EB-0D0779865A40</string>
			<key>sprName</key>
			<string>right_down_leg.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>0.3969879150390625</real>
			<key>boneUUID</key>
			<string>E9E76335-CEDD-48EE-8D38-BE46A57A6DF0</string>
			<key>localPos</key>
			<string>{-30, -120}</string>
			<key>skinName</key>
			<string>left_up_leg.png</string>
			<key>skinUUID</key>
			<string>2313E804-C42F-4699-8396-EEF2831EEA8A</string>
			<key>sprName</key>
			<string>left_up_leg.png</string>
			<key>visible</key>
			<true/>
		</dict>
		<dict>
			<key>angle</key>
			<real>-9.496917724609375</real>
			<key>boneUUID</key>
			<string>BF4B3164-9D40-4CBE-886B-56534867C296</string>
			<key>localPos</key>
			<string>{20, -118}</string>
			<key>skinName</key>
			<string>right_up_leg.png</string>
			<key>skinUUID</key>
			<string>9EB7EA31-DA87-4FD9-A5E7-DD2ED7D00ABD</string>
			<key>sprName</key>
			<string>right_up_leg.png</string>
			<key>visible</key>
			<true/>
		</dict>
	</array>
	<key>uuid</key>
	<string>219ECD93-00FF-4626-80FA-4C5E828AC81F</string>
</dict>
</plist>
