<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>connectionFrames</key>
	<array/>
	<key>metadata</key>
	<dict>
		<key>app</key>
		<string>SpriteHelper</string>
		<key>author</key>
		<string>Vladu Bogdan</string>
		<key>version</key>
		<real>1</real>
		<key>web</key>
		<string>http://www.gamedevhelper.com</string>
	</dict>
	<key>name</key>
	<string>sucess_animation</string>
	<key>playMode</key>
	<integer>1</integer>
	<key>positionFrames</key>
	<array>
		<dict>
			<key>bones</key>
			<dict>
				<key>RootBone</key>
				<string>{0, 0}</string>
				<key>UntitledNode</key>
				<string>{-79, 31}</string>
				<key>UntitledNode_1</key>
				<string>{-94, -33}</string>
				<key>UntitledNode_10</key>
				<string>{1, 77}</string>
				<key>UntitledNode_11</key>
				<string>{16, 97}</string>
				<key>UntitledNode_12</key>
				<string>{-6, -84}</string>
				<key>UntitledNode_13</key>
				<string>{-24, -95}</string>
				<key>UntitledNode_14</key>
				<string>{10, -94}</string>
				<key>UntitledNode_15</key>
				<string>{-38, -142}</string>
				<key>UntitledNode_16</key>
				<string>{-45, -192}</string>
				<key>UntitledNode_17</key>
				<string>{24, -141}</string>
				<key>UntitledNode_18</key>
				<string>{27, -191}</string>
				<key>UntitledNode_19</key>
				<string>{1, 15}</string>
				<key>UntitledNode_2</key>
				<string>{-91, -86}</string>
				<key>UntitledNode_3</key>
				<string>{-108, -115}</string>
				<key>UntitledNode_4</key>
				<string>{-72, -119}</string>
				<key>UntitledNode_5</key>
				<string>{77, 32}</string>
				<key>UntitledNode_6</key>
				<string>{92, -32}</string>
				<key>UntitledNode_7</key>
				<string>{89, -86}</string>
				<key>UntitledNode_8</key>
				<string>{71, -118}</string>
				<key>UntitledNode_9</key>
				<string>{107, -113}</string>
			</dict>
			<key>time</key>
			<real>0.0031640625093132257</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>UntitledNode_1</key>
				<string>{-144, 26}</string>
				<key>UntitledNode_2</key>
				<string>{-197, 20}</string>
				<key>UntitledNode_3</key>
				<string>{-216, -7}</string>
				<key>UntitledNode_4</key>
				<string>{-178, -13}</string>
				<key>UntitledNode_6</key>
				<string>{142, 28}</string>
				<key>UntitledNode_7</key>
				<string>{196, 23}</string>
				<key>UntitledNode_8</key>
				<string>{182, -12}</string>
				<key>UntitledNode_9</key>
				<string>{218, -2}</string>
			</dict>
			<key>time</key>
			<real>0.49468749761581421</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>UntitledNode_1</key>
				<string>{-94, -33}</string>
				<key>UntitledNode_15</key>
				<string>{-37, -143}</string>
				<key>UntitledNode_16</key>
				<string>{-84, -159}</string>
				<key>UntitledNode_2</key>
				<string>{-91, -86}</string>
				<key>UntitledNode_3</key>
				<string>{-109, -114}</string>
				<key>UntitledNode_4</key>
				<string>{-73, -119}</string>
				<key>UntitledNode_6</key>
				<string>{91, -32}</string>
				<key>UntitledNode_7</key>
				<string>{91, -86}</string>
				<key>UntitledNode_8</key>
				<string>{73, -118}</string>
				<key>UntitledNode_9</key>
				<string>{108, -114}</string>
			</dict>
			<key>time</key>
			<real>0.88445311784744263</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>UntitledNode_15</key>
				<string>{-38, -142}</string>
				<key>UntitledNode_16</key>
				<string>{-43, -192}</string>
				<key>UntitledNode_17</key>
				<string>{50, -122}</string>
				<key>UntitledNode_18</key>
				<string>{54, -172}</string>
			</dict>
			<key>time</key>
			<real>1.2694140672683716</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>UntitledNode_10</key>
				<string>{-1, 77}</string>
				<key>UntitledNode_11</key>
				<string>{18, 93}</string>
				<key>UntitledNode_17</key>
				<string>{23, -142}</string>
				<key>UntitledNode_18</key>
				<string>{27, -191}</string>
			</dict>
			<key>time</key>
			<real>1.6062500476837158</real>
		</dict>
		<dict>
			<key>bones</key>
			<dict>
				<key>UntitledNode_10</key>
				<string>{1, 77}</string>
				<key>UntitledNode_11</key>
				<string>{16, 97}</string>
				<key>UntitledNode_16</key>
				<string>{-45, -192}</string>
				<key>UntitledNode_17</key>
				<string>{24, -141}</string>
				<key>UntitledNode_3</key>
				<string>{-108, -115}</string>
				<key>UntitledNode_4</key>
				<string>{-72, -119}</string>
				<key>UntitledNode_6</key>
				<string>{92, -32}</string>
				<key>UntitledNode_7</key>
				<string>{89, -86}</string>
				<key>UntitledNode_8</key>
				<string>{71, -118}</string>
				<key>UntitledNode_9</key>
				<string>{107, -113}</string>
			</dict>
			<key>time</key>
			<real>2</real>
		</dict>
	</array>
	<key>skinFrames</key>
	<array/>
	<key>spriteTransformFrames</key>
	<array/>
	<key>totalTime</key>
	<real>2</real>
	<key>visibilityFrames</key>
	<array/>
	<key>zOrderFrames</key>
	<array/>
</dict>
</plist>
